bin/
obj/
publish/
dist/

.vs/
.vscode/

*.exe
*.zip
*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
DebugLog.txt
appsettings.json
admin_helper_err.txt
*_err.txt
*.trx
*.coverage
*.coveragexml
